<!DOCTYPE html>
<html ng-app="GimmeShows">
	<head>
		<title>Gimme Shows</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/src/app.css">
		<script src="/node_modules/angular/angular.js"></script>
		<script src="/node_modules/angular-route/angular-route.js"></script>
		<script src="/node_modules/angular-scroll/angular-scroll.min.js"></script>
		<script src="/vendor/ui-bootstrap-min.js"></script>

		<script src="/src/app.js"></script>

	</head>

	<body class="App" ng-controller="HomeController">

		<!-- SEARCH JUMBOTRON -->
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="page-header">
						<h2>Gimme shows! <small><br><em>So you'll always have something to watch</em></small></h2>
					</div>
					<div class="searchArea text-center">
						<h1>Search</h1>
						<form>
							<label for="searchBox"><h3>Similar to:</h3></label>

							<div class="form-group">
								<div class="input-group input-group-lg">
									<div class="icon-addon addon-lg">
										<input 	type="text" 
												placeholder="Search for similar shows" 
												class="form-control" 
												id="searchBox" 
												ng-model="searchInput"
												autofocus>

											<label for="searchBox" class="glyphicon glyphicon-search" rel="tooltip" title="searchBoxIcon"></label>
									</div>
										<span class="input-group-btn">
										<button class="btn btn-default" role="button" type="submit" for="searchBox" ng-click="searchSimilarShows()">Gimme!</button>
									</span>
								</div>
							</div>
						</form>

						<div ng-show="showNotFound" role="alert">Show not found...</div>
					</div><!--END of searchArea class-->
				</div><!--END of search row-->
			</div><!--END of container-->
		</div><!--END of jumbotron-->

		<div class="container">
			<div class="row" ng-show="similarShows.length > 0" id="showResults">
				<div class="resultTitle">
					<h2>{{similarShows.length}} shows similar to {{inputShow}}:</h2>
				</div>

					<div ng-repeat="show in similarShows">
						<div class="show panel panel-default col-lg-2 col-md-2 col-sm-3 col-xs-6"
							 ng-click="getShowDetails(show.id)"
							 id="{{show.id}}">
							<span class="showName">{{show.Name}}</span>
							<div class="panel-body">
								<img class="img-responsive showImage" src="{{show.image}}" width="100"></img>
							</div>
						</div>
					</div>
			</div> <!--END of search row-->

		<div ng-show="detailsOn" class="row">
			<div class="showDetails col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1">
				<div class="row">
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<h3 class="showDetailsName">{{selectedShow.Name}}</h3>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<span class="glyphicon glyphicon-remove exitButton" ng-click="detailsOn = !detailsOn"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 detailsDiv1">
						<p>{{selectedShow.summary}}</p>
						<br><a href="{{selectedShow.imdb}}" target="_blank">imdb</a>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img class="showDetailsImage img-responsive" src="{{selectedShow.image}}" width="200"></img>
					</div>
				</div>
			</div><!--END of showDetails class-->
		</div><!--END of details row-->
		<hr>
		<footer><small>Created by: <a href="mailto:asabj88@gmail.com">asabj88@gmail.com</a></small></footer>
	</div><!--END of container-->
	</body>
</html>