
body{
	background-color: #C5C1C0;
	color: #0A1312;
}

/* jumbotron header with search */
.jumbotron {
	background-color:  #1A2930;
	color:#C5C1C0;
}

.jumbotron .btn-default, .jumbotron .form-control {
	background: #C5C1C0;
}

.searchArea {
	padding-top:20px;
	color: #C5C1C0;
}

/* Show result area */
.resultTitle {
	color: #0A1312;
	text-transform: capitalize;
}

.show{
	background: #1A2930;
	color: #C5C1C0;
	border-radius: 0;
	border-style: none;

	height: 240px;
	width: 175px;
	margin:2px;
	padding-top: 10px;

	overflow: hidden;
	text-overflow: ellipsis;
	display:block;
}

.showImage{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.showName {
	color: #F7CE3E;
	overflow: hidden;
	height:15%;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 16px;     /* fallback */
	max-height: 32px;      /* fallback */

	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}

/* Show detail area */
.showDetails {
	z-index: 2;
	position: fixed;
	top: 20%;
	max-height: 450px;

	color: #C5C1C0;
	background: rgba(10,19,18, 0.8)!important;

	overflow: hidden;

	border-radius:  10% 0 10% 0;
	border-style: none;

	-webkit-animation-name: showDetailsAnimation; /* Chrome, Safari, Opera */
	-webkit-animation-duration: 0.8s; /* Chrome, Safari, Opera */
	animation-name: showDetailsAnimation;
	animation-duration: 0.8s;
}

@keyframes showDetailsAnimation {
	from {top: -300px;}
	to {top: 20%;}
}

@-webkit-keyframes showDetailsAnimation {
	from {top: -300px;}
	to {top: 20%;}
}

.showDetailsImage{
	display: block;
	margin-left: auto;
	padding-right: 10px;
	padding-bottom: 25px;
}

.showDetailsName {
	color: #F7CE3E;
	padding-top:10px;
	padding-left:20px;
}

.showDetails a {
	color:#C5C1C0;
	text-decoration: underline;
}

.detailsDiv1 {
	max-height: 350px;
	overflow: auto;
	padding-bottom: 10px;
}

.exitButton {
	padding-top:10px;
	float:right;
}

footer {
	padding-bottom:5px;
}

/* Scroll bar */
::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	background-color: #1A2930;
}

::-webkit-scrollbar-thumb {
	background-color: #0A1312;
}

::-webkit-scrollbar-button {
	background-color: #0A1312;
}

::-webkit-scrollbar-corner {
	background-color: #0A1312;
}

/* 
	yellow F7CE3E
	denim 1A2930
		rgb(26,41,48)
	steal 0A1312
	screen C5C1C0
	boots purple #563d7c
*/

/* Support glyph and fa icon inside input, 
	author: http://bootsnipp.com/imjohnlouie
	source: http://bootsnipp.com/snippets/featured/support-glyph-and-fa-icon-inside-input 
*/
.center-block {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.input-group .icon-addon .form-control {
	border-radius: 0;
}

.icon-addon {
	position: relative;
	color: #555;
	display: block;
}

.icon-addon:after,
.icon-addon:before {
	display: table;
	content: " ";
}

.icon-addon:after {
	clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
	position: absolute;
	z-index: 2;
	left: 10px;
	font-size: 14px;
	width: 20px;
	margin-left: -2.5px;
	text-align: center;
	padding: 10px 0;
	top: 1px
}

.icon-addon.addon-lg .form-control {
	line-height: 1.33;
	height: 46px;
	font-size: 18px;
	padding: 10px 16px 10px 40px;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
	font-size: 18px;
	margin-left: 0;
	left: 11px;
	top: 4px;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
	margin-left: 0;
	font-size: 12px;
	left: 5px;
	top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
	color: #2580db;
}

.input-group{
	background-color:#C5C1C0;
}